Repository EdgePi-Cloud/edgepi-python-sdk, pull requests merged in 2023-05, with the labels that each got.

#296 Dev tb revc rtd
  src/edgepi/adc/adc_constants.py
  src/edgepi/adc/adc_exceptions.py
  src/edgepi/adc/adc_query_lang.py
  src/edgepi/adc/adc_state.py
  src/edgepi/adc/edgepi_adc.py
  src/test_edgepi/integration_tests/test_adc/test_adc.py
  src/test_edgepi/integration_tests/test_adc/test_adc_state.py
  src/test_edgepi/unit_tests/test_adc/test_adc_state.py
  src/test_edgepi/unit_tests/test_adc/test_edgepi_adc.py
  tests/hardware_tests/test_rtd_reads.py
Labels: ADC, RTD

#300 Dev issue#299
  src/edgepi/adc/README.md
  src/edgepi/adc/adc_constants.py
  src/edgepi/adc/adc_state.py
  src/edgepi/adc/adc_voltage.py
  src/edgepi/adc/edgepi_adc.py
  src/edgepi/utilities/utilities.py
  src/test_edgepi/integration_tests/test_adc/test_adc.py
  src/test_edgepi/integration_tests/test_adc/test_adc_state.py
  src/test_edgepi/unit_tests/test_adc/test_adc_voltage.py
  src/test_edgepi/unit_tests/test_adc/test_edgepi_adc.py
  src/test_edgepi/unit_tests/test_utilities/test_utilities.py
  tests/hardware_tests/test_adc_read.py
  tests/hardware_tests/test_voltage_rw.py
Labels: ADC, RTD

#301 Dev dac get state
  src/edgepi/dac/edgepi_dac.py
  src/test_edgepi/unit_tests/test_dac/test_edgepi_dac.py
Labels: enhancement, DAC

#303 Dev dout #302
  src/edgepi/digital_output/edgepi_digital_output.py
  src/test_edgepi/unit_tests/test_dout/test_edgepi_dout.py
Labels: GPIO, DIGITAL_I/O

#308 fixing issue
  src/edgepi/dac/README.md
  src/edgepi/dac/dac_commands.py
  src/edgepi/dac/dac_constants.py
  src/test_edgepi/unit_tests/test_dac/test_dac_commands.py
  src/test_edgepi/unit_tests/test_dac/test_edgepi_dac.py
Labels: DAC

#307 Dev pwm
  src/edgepi/peripherals/pwm.py
  src/edgepi/pwm/README.md
  src/edgepi/pwm/__init__.py
  src/edgepi/pwm/edgepi_pwm.py
  src/edgepi/pwm/pwm_constants.py
  src/test_edgepi/integration_tests/test_pwm/__init__.py
  src/test_edgepi/integration_tests/test_pwm/test_edgepi_pwm.py
  src/test_edgepi/unit_tests/test_peripherals/test_pwm.py
  src/test_edgepi/unit_tests/test_pwm/__init__.py
  src/test_edgepi/unit_tests/test_pwm/test_edgepi_pwm.py
Labels: PWM

#311 Update test_dac_commands.py
  src/test_edgepi/unit_tests/test_dac/test_dac_commands.py
Labels: bug

#312 Dev dout get state
  src/edgepi/digital_output/edgepi_digital_output.py
  src/test_edgepi/integration_tests/test_digital_out/test_digital_out.py
  src/test_edgepi/unit_tests/test_dout/test_edgepi_dout.py
Labels: DIGITAL_I/O

#310 Adds `thing_id` and additional client ID
  src/edgepi/calibration/eeprom_mapping.proto
  src/edgepi/calibration/eeprom_mapping_pb2.py
  src/edgepi/calibration/protobuf_mapping.py
  src/test_edgepi/unit_tests/test_calibration/serializedFile
  src/test_edgepi/unit_tests/test_calibration/test_access_eeprom.py
  src/test_edgepi/unit_tests/test_calibration/test_protobuf_mapping.py
  src/test_edgepi/unit_tests/test_dac/test_dac_commands.py
  tests/hardware_tests/test_eeprom_osensaspace.py
Labels: EEPROM

#314 Dev gpio enum refactor
  src/edgepi/dac/dac_constants.py
  src/edgepi/dac/edgepi_dac.py
  src/edgepi/digital_input/README.md
  src/edgepi/digital_input/digital_input_constants.py
  src/edgepi/digital_input/edgepi_digital_input.py
  src/edgepi/digital_output/README.md
  src/edgepi/digital_output/digital_output_constants.py
  src/edgepi/digital_output/edgepi_digital_output.py
  src/edgepi/led/README.md
  src/edgepi/led/edgepi_leds.py
  src/edgepi/led/led_constants.py
  src/edgepi/pwm/README.md
  src/edgepi/pwm/edgepi_pwm.py
  src/edgepi/pwm/pwm_constants.py
  src/test_edgepi/integration_tests/test_digital_in/test_digital_in.py
  src/test_edgepi/integration_tests/test_digital_out/test_digital_out.py
  src/test_edgepi/integration_tests/test_led/test_led.py
  src/test_edgepi/integration_tests/test_pwm/test_edgepi_pwm.py
  src/test_edgepi/unit_tests/test_din/test_edgepi_din.py
  src/test_edgepi/unit_tests/test_dout/test_edgepi_dout.py
  src/test_edgepi/unit_tests/test_pwm/test_edgepi_pwm.py
  tests/hardware_tests/test_digital_io.py
Labels: GPIO

#320 Dev dout tri state
  src/edgepi/digital_output/README.md
  src/edgepi/digital_output/digital_output_constants.py
  src/edgepi/digital_output/edgepi_digital_output.py
  src/test_edgepi/integration_tests/test_digital_out/test_digital_out.py
  src/test_edgepi/unit_tests/test_dout/test_edgepi_dout.py
  tests/hardware_tests/test_digital_io.py
Labels: DIGITAL_I/O

#319 Dev pwm refactor
  src/edgepi/pwm/README.md
  src/edgepi/pwm/edgepi_pwm.py
  src/test_edgepi/integration_tests/test_pwm/test_edgepi_pwm.py
  src/test_edgepi/unit_tests/test_pwm/test_edgepi_pwm.py
Labels: PWM

#325 Dev conversion formula
  src/edgepi/adc/adc_voltage.py
  src/edgepi/dac/dac_commands.py
  src/test_edgepi/unit_tests/test_adc/test_adc_voltage.py
  src/test_edgepi/unit_tests/test_dac/test_dac_commands.py
Labels: bug, DAC, ADC

#327 pwm set_config change
  src/edgepi/pwm/edgepi_pwm.py
  src/test_edgepi/unit_tests/test_pwm/test_edgepi_pwm.py
Labels: PWM

#330 PWM refactoring
  src/edgepi/peripherals/pwm.py
  src/edgepi/pwm/README.md
  src/edgepi/pwm/edgepi_pwm.py
  src/edgepi/pwm/pwm_constants.py
  src/test_edgepi/integration_tests/test_pwm/test_edgepi_pwm.py
  src/test_edgepi/unit_tests/test_peripherals/test_pwm.py
  src/test_edgepi/unit_tests/test_pwm/test_edgepi_pwm.py
Labels: PWM
